Prediction

In [4]:
# Import necessary libraries
import pandas as pd
import numpy as np
import seaborn as sns
import pickle
from sklearn.metrics import accuracy_score, precision_score, confusion_matrix, f1_score, recall_score, classification_report, fbeta_score, make_scorer, balanced_accuracy_score
from sklearn.preprocessing import StandardScaler, RobustScaler, OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.ensemble import RandomForestClassifier
import math

import warnings
warnings.filterwarnings('ignore')

#### **Load the Model and Data**

In [5]:
hotel_test = pd.read_csv('hotel_unseen.csv')

filename = 'Hotel Model Prediction.pkl'
loaded_model = pickle.load(open(filename, 'rb'))

x_test = hotel_test.drop('is_canceled', axis=1)
y_test = hotel_test['is_canceled']

y_pred = loaded_model.predict(x_test)

In [6]:
from sklearn.metrics import mean_squared_error, f1_score, recall_score, classification_report

print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.79      0.99      0.88      1538
           1       0.91      0.17      0.28       479

    accuracy                           0.80      2017
   macro avg       0.85      0.58      0.58      2017
weighted avg       0.82      0.80      0.74      2017

In [7]:
hotel_test1 = pd.read_csv('data_hotel_booking_demand.csv')
x_test1 = hotel_test1.drop('is_canceled', axis=1)
y_test1 = hotel_test1['is_canceled']

In [8]:
y_pred1 = loaded_model.predict(x_test1)
print(classification_report(y_test1, y_pred1))

              precision    recall  f1-score   support

           0       0.65      1.00      0.79     52795
           1       1.00      0.08      0.15     30778

    accuracy                           0.66     83573
   macro avg       0.83      0.54      0.47     83573
weighted avg       0.78      0.66      0.55     83573

In [9]:
confusion_matrix(y_test1, y_pred1)

array([[52795,     0],
       [28250,  2528]])

In [10]:
pd.read_csv('hotel_unseen_x.csv')

,country,market_segment,previous_cancellations,booking_changes,deposit_type,days_in_waiting_list,customer_type,reserved_room_type,required_car_parking_spaces,total_of_special_requests
0,Others,Online TA,0,2,No Deposit,0,Transient,F,2,2
1,ESP,Online TA,0,1,No Deposit,0,Transient,D,2,0
2,ESP,Groups,0,1,No Deposit,0,Transient-Party,A,2,0
3,Others,Groups,0,1,No Deposit,0,Transient-Party,A,2,0
4,Others,Online TA,0,1,No Deposit,0,Transient,Others,2,1
...,...,...,...,...,...,...,...,...,...,...
2012,GBR,Groups,0,2,No Deposit,0,Transient-Party,E,2,2
2013,ESP,Online TA,0,2,No Deposit,0,Transient,D,2,4
2014,PRT,Corporate,0,2,No Deposit,0,Transient,E,1,1
2015,Others,Online TA,0,2,No Deposit,0,Transient,D,2,3
2016,Others,Offline TA/TO,0,2,No Deposit,0,Others,E,2,0

In [11]:
x_test2 = pd.read_csv('hotel_unseen_x.csv')
y_test2 = pd.read_csv('hotel_unseen_y.csv')

In [12]:
y_pred2 = loaded_model.predict(x_test2)
print(classification_report(y_test2, y_pred2))

              precision    recall  f1-score   support

           0       0.79      0.99      0.88      1538
           1       0.91      0.17      0.28       479

    accuracy                           0.80      2017
   macro avg       0.85      0.58      0.58      2017
weighted avg       0.82      0.80      0.74      2017